@font-face {
	font-family: 'PTRootUIWebRegular';
	src:
		url('/src/fonts/PT-Root-UI_Regular.woff2') format('woff2'),
		url('/src/fonts/PT-Root-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {	
			box-sizing: border-box;
  }
$Regular: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
$primary: #3EB57C;
$secondary: #3EB57C;

$text: #0B1739;



html,body {	
	font-family: $Regular;
	font-size: 16px;
	height: 100%;
	color: $text;
	scroll-behavior: smooth;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.btn{
	cursor: pointer;
}
.hidden{
	display: none;
}
.apartments{
	max-width: 1440px;
	margin:0 auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;

	&__title{
		h1{
			font-family: 'PTRootUIWebRegular';
			font-style: normal;
			font-weight: bold;
			font-size: 54px;
			line-height: 55px;
			margin: 0 0 48px 0;
		}
	}
	
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 120px;
		width: 100%;
		background: #FFFFFF;
		padding: 16px 0px 24px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	&__table-head{
		height: 36px;
		font-size: 14px;
		padding: 0px 0px 16px;
	}
	
	.hidden-l{
		display: none;
	}
	&__col{
		width: 100px;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;	
	}
	
	&__col[data-filter]{
		color: $primary;

		g{ 	
			opacity: 1;
		}
	}
	&__col[data-filter="asc"]{

		.apartments__arr-t path{
			opacity: 1;
			color: $primary;
			fill:$primary;
		}
		
	}
	&__col[data-filter="desk"]{
		.apartments__arr-d path{
			opacity: 1;
			color: $primary;
			fill:$primary;
		}
		
	}	
	
	&__arr{
		opacity: 1!important;
		display: inline-flex;
		flex-direction: column;
		padding: 0 8px;

		span{
			line-height: 7px;
			opacity: 1!important;
		}
		
		&-d{
			margin-top: 2px;
			transform: rotate(180deg);			
		}
	}
	&__img{
		width: 80px;
	}
	&__name{
		width: 200px;
	}
	
	&__floor{
		span{
			opacity: 0.5;
		}		
	}
	&__add-more{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 24px;
		margin-top: 48px;
		border: 1px solid rgba(11, 23, 57, 0.2);
		border-radius: 25px;
		background-color: #fff;		

	}
	&__list{
		width: 801px;
	}
	
	.go-top{
		position: fixed;
		bottom: 80px;
		right: 80px;
		width: 40px;
		height: 40px;
		background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
		border-radius: 30px;
		border: 0;
		cursor:pointer;
	}
	.go-top:hover{background: $primary;}

}
.filter{
	width: 399px;
	padding: 40px;
	background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
	border-radius: 10px;
	position: relative;

	&__rooms{
		display: flex;
		justify-content: flex-start;

		&-number{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px 12px;
			margin-right: 16px;
			width: 44px;
			height: 44px;
			background-color: #fff;
			border:0;
			border-radius: 100px;
			font-size: 16px;
			line-height: 24px;
			cursor: pointer;

		}
		&-number[data-disable]{ opacity: 0.6;
		cursor: default;}
		&-number--active{
			background: $primary;
			box-shadow: 0px 6px 20px #95D0A1;
			color:#fff;
		}
	}
	&__title{
		margin: 8px 0px;
		font-size: 14px;
		line-height: 20px;
	}
	&__slids{
		margin: 24px 0 12px 0;
	}
	
	input{
		background-color: transparent;
		border: 0;
	}
	&__inputs{
		display: flex;
		margin-bottom: 12px;
		

		span{
			opacity: 0.5;
			margin-right: 8px;
		}
	}
	&__clear{
		margin: 34px 0 0 16px;
		background: transparent;
		border: 0;
		font-size: 14px;
		cursor: pointer;
		img{
			margin-left: 7px;
		}
	}

	.ui-widget-header{
		background: $primary;
	}
	.ui-slider-handle{
		background: $primary!important;
		border: 1px solid $primary!important;
		border-radius: 10px!important;
	}
	.ui-slider-horizontal {
		height: 3px;
	}
	.ui-slider .ui-slider-handle {		
		width: 14px;
		height: 14px;	
		cursor: pointer;	
	}
	.ui-slider .ui-slider-handle:focus-visible {	
			outline: 0px;		 
		}	
	.ui-slider-horizontal .ui-slider-handle {
		top: -6px;
		margin-left: -.6em;
	}
	.ui-widget.ui-widget-content {
		border: 0px solid #c5c5c5;
		background: #E5E5E5;		
		border-radius: 1.5px;
	}

	
}
.filter.blocked ::before{
	position: absolute;
	content: "";
	top:0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.02);
}

@media (max-width: 1440px) { 
	html, body {		
		font-size: 14px;
	}
	.apartments {
		max-width: 960px;
		padding: 54px;

		&__list{
			width: 506px;
		}

		&__row{
			height: 104px;
			padding: 16px 24px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 8px;
			margin-bottom: 4px;
			justify-content: flex-start;
		}
		&__title h1 {			
			margin: 0 0 24px 0;
		}

		&__img {
			order: 4;
			margin: -40px 0 0 auto;
		}
		
		&__name {
			width: 100%;
			margin-bottom: 16px;
		}
		&__s{
			width:60px
		}
		.hidden-l{
			display: inline;
		}
		&__table-head{
			border: 0;
			height: 36px;
			padding: 8px 0px;
			justify-content: flex-start;
			.apartments__img,.apartments__name{
				display:none;
			}
		}
	}
	.filter {
		width: 318px;
		padding: 20px 19px;
		

		&__title{
			font-size: 13px;
		}

		&__clear {
			margin: 26px 0 0 16px;
			font-size: 13px;
		}
	}	
	
}